@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');
.balanceText {

	position: absolute;
	top: 7vh;
	left: 50%;
	transform: translate(-50%, -50%);
    text-align: center;
    color: #00000;
    opacity: 0.5;
    margin-top: 80vh;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.balanceText > a {
    color: #ffffff;
    /* text-decoration: unset; */
}

.balanceText, .kr--balanceText > a {
    font-weight: 600;
    font-size: 5vh;
}

.persikText {
    margin-top: 5vh;
    font-size: 3vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}